@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}




<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Yetenek Düzenleme </p>

            <form asp-controller="Skill" asp-action="EditSkill" method="post">
                <input asp-for="SkillID" hidden />
                <label>Yetenek Başlığı</label>
                <input asp-for="Title" class="form-control" />
                <br />
                <label>Değer</label>
                <input asp-for="Value" class="form-control" />
                <br />
                <button class="btn btn-block btn-lg btn-outline-light">Kaydet</button>
            </form>


        </div>
    </div>
</div>


@*@using (Html.BeginRouteForm("EditSkill", "Skill", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.SkillID)
        <br />
        @Html.Label("Yetenek Başlığı")
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        @Html.Label("Yetenek Değeri")
        @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
        <button class="btn btn-primary">Güncelle</button>

    }*@

